body {
    font-family: "Nunito";
    background-color: #fbe4dc;
}

.navbar-1 {
    background-color: #fbe4dc !important;
    padding: 50px 0px;


}

.btn-success {
    font-size: 20px !important;
    background-color: rgb(110, 179, 104) !important;
    font-weight: 500 !important;
    margin-bottom: 10px !important;
}

.btn-success:hover {
    background-color: rgb(88, 155, 81) !important;
}

.btn-danger {
    font-size: 20px !important;
    font-weight: 500 !important;
    background-color: rgb(230, 94, 94) !important;
    margin-bottom: 10px !important;
}

.btn-danger:hover {
    background-color: rgb(204, 65, 65) !important;
}


.block-1-1-2-title {
    font-size: calc(2.6em + 1vw);
    font-weight: 600;
    font-style: normal;

}

.block-1-1-2-subtitle {
    font-size: 30px;
}

.block-2 {
    font-size: 20px;
    margin: 70px;

}

.block-2-icons {
    font-size: 60px;
}

.block-2-text {
    width: 25% !important;
}

.block-3 {
    background-image: url(img/ancianos.jpg);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0px
}

.block-3-1 {
    align-items: center;
    gap: 15px;
    width: 80%;

}
@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.block-3-1-1 {
    background-color: rgba(228, 228, 228, 0.9);
    padding: 30px;
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;

}

.block-3-1-2 {
    background-color: rgba(228, 228, 228, 0.9);
    padding: 30px;
    text-align: right;
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 20% cover 30%;
    animation-fill-mode: both;

}

.block-3-1-1-title {
    margin-bottom: 50px;
}

.blockquote-footer {
    margin-bottom: 30px !important;
}

.block-3-1-1-text {
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.block-3-1-1-span {
    margin-bottom: 20px;
}

.block-3-1-1-icon {
    margin-right: 20px;
}

.block-4 {
    background-color: #fbe4dc;
    min-height: 280px;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.block-4-1-text {
    font-size: 35px;
}

.btn-primary {
    font-size: 25px !important;
    font-weight: 500 !important;
    margin-top: 15px
}

.block-5 {
    min-height: 300px;
    margin: 50px;
}

.block-5-title {
    font-size: 50px
}

.block-5 img {
    width: 80%;
}

.footer-1 {
    padding: 40px;
}

@media screen and (max-width: 991px) {
    .btn-danger {
        width: 25% !important;
        justify-content: flex-end;
    }

    .btn-success {
        width: 25% !important;
        justify-content: flex-end;
    }

    .block-3-1 {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }

    .block-3-1-1 {
        width: 90%;
    }

    .logo-block {
        flex-direction: column;
    }
    .text-block{
        min-width: 100%;
    }
    .logo{
        min-width: 80%; 
    }

    .top-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-danger {
        width: 50% !important;
        justify-content: flex-end;

    }

    .btn-success {
        width: 50% !important;
        justify-content: flex-end;
    }
}


@media screen and (max-width: 767px) {
    .top-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-danger {
        width: 50% !important;
        justify-content: flex-end;

    }

    .btn-success {
        width: 50% !important;
        justify-content: flex-end;
    }
    .asistente-img{
        width: 70%;
    }
}


@media screen and (max-width: 575px) {

    .btn-danger {
        margin-bottom: 10px !important;
    }

    .block-3 {
        background-size: cover;
    }
}

@media screen and (max-width: 436px) {

    .block-4-1 {
        margin: 30px !important;
    }

    .block-3 {
        background-size: cover;
    }

    .btn-danger {
        width: 65% !important;
        justify-content: flex-end;
        background-color: black;

    }

    .btn-success {
        width: 60% !important;
        justify-content: flex-end;
        background-color: black;
    }
}